/* background image cover guide from css-tricks */
html { 
    background: url(../Images/gradient.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
}
.container1 {
    display:flex;
    /*align-items:flex-start;*/
    flex-direction: column;
    flex:25%;
    width: 60%;
    padding-left:50px;
    margin-bottom: 5em;
}
    .item1 ul {
        padding-inline-start:0px !important;
    }
        .item1 {
            margin-top:1.5em;
            flex: 1;
            order: 1;
        }
        .item2 {
            margin-top: 6em;
            flex: 1;
            order: 2;
        }
        .item3 {
            margin-top: -3em;
            flex: 2;
            order: 2;
        }
        .item4 {
            flex: 1;
            order: 3;
        }
 /* (custom button style by me) button code from 88 beautiful css buttons https://getcssscan.com/css-buttons-examples */
 .button1 {
    background-color: transparent;
    border: 3px solid #0047ff;
    border-radius: 13px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family:roc-grotesk, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: auto;
    outline: none;
    padding:17px 20px 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    width: 120px;
}
    .button1.on {
        width:125px;
    }
    .button1:hover{
        background-color: #0047ff;
    }
    .button1:focus{
        border: 3px solid #0030aa;
        background-color: #0047ff;
        width:125px;
    }
.container2 {
    display: flex;
    flex-direction: column;
    background-color:black;
    position: absolute;
    padding-left: 50px;
    left: 0;
    height: 100%;
    width:100%;
    margin-top:4em;
    padding-inline-start:0px !important;
}
    .container2 div {
        padding-left:60px;
    }
        .item5 {
            padding:40px;
            flex: 1;
            order: 1;
        }

body p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
}
h1 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-size:60px;
    line-height: 1em;
}
h2 {
    font-family: roc-grotesk, sans-serif;
    font-weight:400;
    font-size:25px;
}
/* font awesome icon style */
i {
    list-style:none;
    font-style: normal;
}
.behance, .dribbble, .linkedIn {
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-size:35px;
}
    .behance:hover, .dribbble:hover, .linkedIn:hover{
        color:rgb(159, 173, 209);
    }
@media (max-width:800px) {
    .container1, .container2{
        display:flex;
    }
    h1 {
        font-size:80px;
    }
}